{% extends 'base.html.twig' %}

{% block title %}Product By Id{% endblock %}

{% block body %}
    <div class="container">
        <div class="container col-md-10 mt-5">
            <div class="card-body"><h5><strong class="header-text">My Single Product</strong></h5></div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="mb-2">
                        <strong class="text-danger">Id:</strong>
                    </div>
                    <div class="form-group bg-light pt-2 pb-2">
                        <strong>{{ product.id }}</strong>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="mb-2">
                        <strong class="text-danger">Name:</strong>
                    </div>
                    <div class="form-group bg-light pt-2 pb-2">
                        <strong>{{ product.name }}</strong>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="mb-2">
                        <strong class="text-danger">Info:</strong>
                    </div>
                    <div class="form-group bg-light pt-2 pb-2">
                        {{ product.info }}
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="mb-2">
                        <strong class="text-danger">Price:</strong>
                    </div>
                    <div class="form-group bg-light pt-2 pb-2">
                        {{ product.price|number_format(2) }}
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="mb-2">
                        <strong class="text-danger">Public Date:</strong>
                    </div>
                    <div class="form-group bg-light pt-2 pb-2">
                        {{ product.getPublicDate|date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>

    </style>
{% endblock %}