{% extends 'base.html.twig' %}
{% block title %}Set Products For Users{% endblock %}
{% block body %}
<div class="container">
    {{ include('./messages/success.html.twig') }}
    {{ include('./messages/warning.html.twig') }}
    <div class="row justify-content-center">
        <div class="card-body"><h5><strong class="header-text">Set Products For Users</strong></h5></div>
        <form action="" method="post">
        <div class="row">
            <div class="col-6">
                <h6><strong class="header-text"><p class="text-center">Users</p></strong></h6>
                {% if users is not empty %}
                    <table class="table table-striped">
                        <thead class="bg-dark">
                            <tr>
                                <th class="text-center text-white">id</th>
                                <th class="text-center text-white">Login</th>
                                <th class="text-center text-white">State</th>
                                <th class="text-center text-white">Set</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="text-center"><p class="pt-2 fw-bolder">{{ user.id }}</p></td>
                                <td class="text-center"><p class="pt-2">{{ user.login }}</p></td>
                                <td class="text-center"><p class="pt-2">{{ user.state }}</p></td>
                                <td class="text-center">
                                    <input type="checkbox" id="set-user" name="set_user[]" value="{{ user.id }}" class="mt-3 ml-2">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <div class="nav text-center">
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
            <div class="col-6 overflow">
                <h6><strong class="header-text text-center"><p class="text-center">Products</p></strong></h6>
                {% if products is not empty %}
                    <table class="table table-striped">
                        <thead class="bg-dark">
                            <tr>
                                <th class="text-center text-white">id</th>
                                <th class="text-center text-white">Name</th>
                                <th class="text-center text-white">Price</th>
                                <th class="text-center text-white">Set</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td class="text-center"><p class="pt-2 fw-bolder">{{ product.id }}</p></td>
                                <td class="text-center"><p class="pt-2">{{ product.name|length > 30 ? product.name|slice(0, 30) ~ ' ... ' : product.name }}</p></td>
                                <td class="text-center"><p class="pt-2">{{ product.price|number_format(2) ~ ' zł' }}</p></td>
                                <td class="text-center">
                                    <input type="checkbox" id="set-product" name="set_product[]" value="{{ product.id }}" class="star mt-2 ml-2">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
            <div class="mt-5">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="mb-5"></div>
</div>
    <style>

        .style-warning {
            display: block;
            position: absolute;
            top: 25px;
            left: 41.7%;
            background-color: rgba(245, 34, 70, 0.3);
            width: 340px;
            height: 35px;
            text-align: center;
            border-radius: 7px;
        }

        .style-warning p {
            position: relative;
            padding-top: 5px;
            padding-right: 15px;
        }

        .overflow {
            overflow-y: scroll;
            height: 590px;
        }

        input.star {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            -o-appearance: none !important;
            -ms-appearance: none !important;
            appearance: none !important;
            width: 25px;
            height: 24px;
            background-image: url({{ asset('icons/stars.png') }});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right 0;
            cursor: pointer;
            outline: 0;
        }

        .star:checked, .star:checked~input {
            background-position: left 0;
            color: #ffdb70;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #CDAA7D;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    </style>
{% endblock %}